body {
background-color: #F4F4F4;
color: #952E4B;
}

label {
font-family: "Comic Sans MS", cursive, sans-serif;
font-weight: bold;
color: #952E4B;	
}

table {
border-collapse: collapse;
}

table, th, td{
border: 1px solid black;
}

ul{
text-align:center;
list-style-type: none;
}

li{
font-family: "Comic Sans MS", cursive, sans-serif;
font-weight: bold;
color: #952E4B;
}

#nav{
border:1px solid #ccc;
border-width:1px 0;
margin:0;
padding:0;
text-align:center;
}

#nav ul{
padding: 0;
margin: 0 auto;
width: 960px;
}

#nav li{
    display:inline;
}

#nav a{
text-transform: uppercase;
display: inline-block;
padding: 10px;
position: relative;
z-index: +5;
color: #C40018;
font-size: 1.2em;
text-shadow: 2px 2px 5px #000;
}

#left {
float: relative;
color:#C40018;
margin-right: 20%;
margin-left: 20%;
}

#nav a:focus{
color:#FDB87D;
	}

#nav a:hover{
color:#FF8364;
}
	
#here a{
color:#015249;
}

#here a:hover{
color: #FFA55F;
}

.center{
display:block;
margin-left:auto;
margin-right: auto;
}
